<html>
    <head>
        <title>
        </title>
    </head>
    <body>
        <div class='main-wrap'>
            <header class='main-header'>
                <h1><a href="/">My Blog</a></h1>
            </header>
        </div>
    </body>
</html>