<% var title = "Create new blog entry"; %>
<form method="post">
    <ul>
        <li>
            <label for="entryTitle">Title: </label>
            <input id="entryTitle" type="text">
        </li>
        <li>
            <label for="entryBody">Body: </label>
            <textarea id="entryBody"></textarea>
        </li>
    </ul>
    <input type="submit" />
</form>