<% include header %>
<form method="post">
    <ul>
        <li>
            <label for="titile">Title</label>
            <input type="text" name="title" id="title"/>
        </li>
        <li>
            <label for="body">Content</label>
            <textarea name="body" id="body"></textarea>
        </li>
    </ul>
    <input type="submit" />
</form>
<% include footer %>
