<% include header %>
<div class="content">
    <a href='/post'> New Post </a>
    <% if(posts.length) { %>
        <div class="blog-count">
            <%= posts.length %>
            posts
        </div>
        <ul class='post-list'>
        <% for (var i = 0; i < posts.length; i++) { %>
            <li>
                <header>
                    <h2><a href=<%= "/post/" + posts[i]._id %>><%= posts[i].title %></a></h2>
                    <div class="datetime">
                        <%= new Date(posts[i].date).toDateString() %>
                    </div>
                </header>
                <% var body = posts[i].body %>
                <% include postBody %>
            </li>
        <% } %>
        </ul>
    <% } else { %>
    No post... yet
    <% } %>
</div>
<% include footer %>
