<% include header.ejs %>
        <article>
            <header>
                <h2>
                    <%= post.title %>
                </h2>
            </header>
            <div class="body">
                <%= post.body %>
            </div> 
        </article>
<% include footer.ejs %>