<% include header.ejs %>
        <ul class='posts'>
            <% for (var i = 0; i < posts.length; i++){ %>
                <li>
                    <article>
                        <div class="title">
                            <a href="<%= "/post/" + posts[i]._id %>">
                                <%= posts[i].title %>
                            </a>
                        </div>
                        <div class="body">
                            <%= posts[i].body %>
                        </div>
                    </article>
                </li>
            <% } %>
        </ul>
<% include footer.ejs %>