<% var title = "Create new blog entry"; %>
<% include header.ejs %>
<form method="post">
    <ul>
        <li>
            <label for="entryTitle">Title: </label>
            <input id="entryTitle" name="entryTitle" />
        </li>
        <li>
            <label for="entryBody">Body: </label>
            <textarea id="entryBody" name="entryBody"></textarea>
        </li>
    </ul>
    <input type="submit" />
</form>
<% include footer.ejs %>